#snake {
    position:fixed;
    width: 20px;
    height: 20px;
    background-color: green;
}
*{
  margin:0px;
  padding: 0px;
}
.opciones .dropdown {
  position: relative;
  display: inline-block;
}
.moving-gif{
  position: fixed;
    top: 50px;
  left: 0;
  z-index: 1;
  transition: left 0.2s linear; /* Agregamos una transición para que el movimiento sea suave */
}
.dropbtn{
  color: white;
  height: 100%;
  background-color: #0a0a0a;
    border-style: none;
  padding: 0px 15px 0px 15px;
  text-decoration: none;
  font-size: 20px;
}
.dropbtn:hover{
  color:#c0c0c0;
  cursor: pointer;
  background-color: #191919;
}

.dropdown-content {
  display: none;
  position:absolute;
  right: 0; /* Aligns the dropdown to the right */
  top:100%;
  background-color: #111111;
  width: 15em;  
  padding: 15px 20px 15px 20px;
  border-style: none dashed dashed dashed;  
  border-color: #c0c0c0;
  opacity: 0; /* Start from transparent */
  transition: opacity 0.3s ease; /* Transition effect */
  z-index: 900;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  margin: 10px 0px 10px 0px;
  font-size: 20px;
}
.dropdown-content a:hover {
  background-color: #17757c;
  
}

body{
  padding-top: calc(10%);
  background-color:#191919;
}
.container{
  display:flex;
  overflow:hidden;  
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80rem;
  margin: 0 auto;
  background-color: #191919;
  z-index: 500;
}
a{
  text-decoration: none;
  color:#4363f1;
}
.cuadro_blogs{
    text-align: center;
    background-color:#111111;
    box-shadow: 4px 4px 2px 1px #000000;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    min-width: 20rem;
    max-width: 20rem;
    flex: 0 0 calc(10% - 20px);
    color:#BFBFBF;
}

.blog_imagen{
  width: calc(100%);
  height: calc(65%);
}
.page_imagen{
  width: calc(80%);
  height: auto;
  margin: 10px 10% 10px 10%;
}
.navbar{
  background-color: #0a0a0a;
  position:fixed;
  display:flex;
  justify-content: space-between;
  width: calc(100%);
  height: auto;
  display:flex;
  padding: 0px;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
.opciones a{
  color: white;
  width:100%;
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
  text-decoration: none;
}
.a_blog{
  text-decoration: none;
  color:#BFBFBF;
  transition: color 0.5s ease;
}
.titulo{
  display:inline-block;
  font-size: 2em;
  text-align: center;
  color:  #e0e0d8;
  margin: 10px auto 5rem auto;
}

.a_blog:hover h1{
  color:#17757c;
}
b{
  color:#17757c;
}

ul li{
  margin:10px 10% 10px 15%;
  color:#BFBFBF;
}

ul{
  margin-top: 5%;
  margin-bottom: 5%;
}

@media screen and (max-width: 768px){
  img{
    width: calc(100%);
    height: auto;
  }
  .moving-gif{
    width: calc(20%);
    height: auto;
    transition: left 0.4s linear; /* Agregamos una transición para que el movimiento sea suave */
  }
  .fotoperfil{
    width: calc(80%) !important;
  }
  .centrar{
    width: calc(80%) !important;
  }
  .perfil{
    padding: 5px 2px 10px 2px !important;
    margin-bottom: 2px;
  }
  .perfil h1{
    font-size: medium;
  }
  .w3c{
    height:2em !important;
  }
  .cuadro{
    min-width: calc(70% + 2rem) !important;
    max-width: calc(70% + 2rem) !important;
    text-align: center !important;
  }
  .navbar {
    flex-direction: column; 
    align-items: center;
    text-align: center;
    height: auto;
  }
  .titulo{
    font-size: 1.6em;
  }
  .navbar .logo{
    margin-left: 0px !important;
    margin-top: 10px !important;
  }
  .logo_imagen{
    width: calc(50%) !important;
  }
  body{
    padding-top: calc(30%);
  }
  .opciones{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .opciones .dropdown {
    display: block;
    margin: 10px 0px 10px 0px;
  }
  .dropdown-content{
    position:fixed;
    margin-top:20px;
    top: auto;
    width: 100%;
    border-style: none;
    padding: 0px;
  }

}

.navbar .logo{
  margin-left: 20px;
  margin-top: 5px;
}
.logo_imagen{
  width: calc(28%);
  height: auto;
}
.opciones{
  display:flex;
  gap:10px; 
  height: auto;
  padding: 0px 0px 0px 0px;
}

.cuadro{
  text-align: justify;
  background-color:#111111;
  box-shadow: 4px 4px 2px 1px #000000;
  padding: 30px;
  margin: 10px;
  margin-top: 20px;
  border-radius: 5px;
  min-width: 50rem;
  max-width: 50rem;
  z-index: 500;
}
hr{
  margin: 5px 0px 5px 0px;
}
.fotoperfil{
  image-rendering: pixelated;
  width: calc(100%);
  height: auto;
  flex: 1 1 auto;
  margin-bottom: 5px;
}
.perfil{
  border: 2px solid #dddcdc;
  text-align: center;
  float:right;
  margin-left: 20px;
  margin-right: 0px;
  padding: 15px 10px 0px 10px;
} 
.programing_lenguages_images,.social{
  display:inline-flex;
  justify-content: center;
  margin:20px 0px 20px 0px;
}

footer{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  bottom: 0;
  width: calc(100%);
  margin-top: 10rem;
  background-color: #111111;
  z-index: 500;
}
.centrar{
  text-align:center;
  height: auto;
  padding: 30px 0px 10px 0px;
  width: calc(50%);
  z-index: 500;
}
.c_imagen{
  width: calc(15%);
  height: auto;
  margin: 0px 3px 0px 3px;
}
.contact_image{
  width:50px;
  height: auto;
  transition: transform 0.3s;
  margin: 0px 5px 0px 5px;
}
.contact_image:hover{
  transform: scale(1.5);
}
.w3c{
  width: auto;
  height: 3em;
  transition: transform 0.3s;
}
.w3c:hover{

  transform: scale(1.25);
}
.imagencentrada{
  padding:20px 0px 10px 0px;
  margin:20px 0px 10px 0px;
  display:flex;
  justify-content: center;
}
.img_blender{
  width: calc(60%);
  height: auto;
}
.centrado{
  text-align: center;  
}
.cuadro h1,.centrar h1{
  color: #e0e0d8;
}
.cuadro p,.centrar p{
  margin-top: 10px;
  color: #BFBFBF;
}

